body {
    background-color: rgb(206, 230, 252);
}

#navbar {
    background-color: rgb(124, 195, 223);
    z-index: 0;
    background: #ffffff;
	background: #F8F8F8; 
	border: solid #BDBDBD 0; 
	box-shadow: -14px 21px 22px rgba(0, 0, 0, 0.4)  ; 
	-webkit-box-shadow: -14px 21px 22px rgba(0, 0, 0, 0.4)  ; 
	-moz-box-shadow: -14px 21px 22px rgba(0, 0, 0, 0.4)  ; 
}    

.proPhoto {
    position: relative;
    max-height: 300px;
    max-width: auto;
    margin-top: -70px;
    z-index: 1;
	background: #F8F8F8; 
	border: solid #BDBDBD 0; 
	box-shadow: -14px 21px 22px rgba(0, 0, 0, 0.4)  ; 
	-webkit-box-shadow: -14px 21px 22px rgba(0, 0, 0, 0.4)  ; 
	-moz-box-shadow: -14px 21px 22px rgba(0, 0, 0, 0.4)  ; 
}